<form [formGroup]="form" (submit)="onSubmit()">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>

    <button class="button">Login</button>
  </div>
  @if (emailIsInvalid) {
  <p>Please enter a valid email address</p>
  } @if (passwordIsInvalid) {
  <p>
    Please enter a valid password (must be at leat 6 characters long and contain
    a question mark)
  </p>
  }
</form>
